body{
background-attachment: rgb(112, 109, 124) ;
color:rgb(228, 236, 238);
    text-align: center;
    font-family:Arial;
    font-size: 16px;
margin: 0;
padding: 0;
}
#cabecera{
    background: rgb(214, 132, 65);
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0)   ;
    color:rgb(19, 14, 14);
    font-weight: bold;
    margin: 0;
    padding: 0, 5em;
}
#cabecera #logo{
   width: 20px;
   vertical-align: middle; 
}
#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}
#container{
    width: 70%;
    padding: 1em;
    text-align: left;
    border:1px solid #000;
    margin: 0 auto;
}
#continer h1
{
font-size: 20px;
}

#post {
   background: rgb(20, 21, 27) ;
    padding: 1em;
}